<style>
    .restricted {
        font-weight: bold;
        opacity: 7;
        position: absolute;
        left: 50px;
        top: 90px;
        z-index: 5;
        width: 1150px;
        height: 500px;
        border: 1px dashed #C41247;
        background-color: #EDA20E;
        margin: 0px 20px 0px 20px;
        text-align: center;
        font-size: 22px;
    }</style>


<div class="restricted">
    <br/><br/><br/>
    You donot have access to this page.
    <br/>Please contact Administrator!
</div>
